# Sphinx/rST dependencies
sphinx 
sphinx-autodoc-typehints 
sphinx_rtd_theme 
sphinx-autodoc-napoleon-typehints 
sphinx-argparse
sphinx-tabs
sphinx-inline-tabs
sphinx-rtd-dark-mode
rst.linker
# sphinxcontrib-matlabdomain

# Markdown dependences
myst-parser
myst-parser[linkify]

# Additional dependencies
commandio
